@import url(assets/css/font.css);
:root {
  --white: #fff;
  --light: #ada99e;
  --primary: #cc914a;
  --primary-dark: #ca674c;
  --primary-light: #dbb962;
  --primary-extraDark: #b16e1d;
}
body {
  color: var(--primary);
  font-family: "Neue Plak Regular";
}
.container,
.container-fluid {
  padding-inline: 20px;
}
.page-title {
  font-size: 75px;
  line-height: 80px;
  font-family: "Neue Plak SemiBold";
}
.btn {
  border: none;
  font-size: 25px;
  padding: 0 30px;
  cursor: pointer;
  line-height: 50px;
  border-radius: 50px;
  background: #dbb962;
  transition: all 0.3s ease;
}
.btn:hover {
  background: #dbb962;
  border-radius: 0 !important;
  color: var(--white) !important;
}
.wellness .wellness-text p:last-child,
.footer .copyright .copyright-text p:last-child,
.faqs .accordion .accordion-item .accordion-body p:last-child,
.story-hero.hero .hero-wrapper .hero-content p:last-child,
.mission .mission-wrapper p:last-child {
  margin: 0;
}
.header {
  z-index: 999;
  position: relative;
  margin-bottom: 30px;
}
.header .navbar {
  padding: 40px 40px 40px 20px;
}
.header .navbar .navbar-brand img {
  transition: all 0.3s ease-in-out;
}
.header .navbar .navbar-brand .white-logo {
  width: 243px;
  padding: 0 7px;
}
.header .navbar .navbar-brand .white-logo,
.header.show-mega-menu .navbar .navbar-brand .colored-logo {
  display: none;
}
.header .navbar .navbar-nav {
  margin-right: 28px;
}
.header .navbar .navbar-nav .nav-item + .nav-item {
  margin-left: 35px;
}
.header .navbar .navbar-nav .nav-item.dropdown {
  position: inherit;
}
.header
  .navbar
  .navbar-nav
  .nav-item.dropdown
  .nav-link.dropdown-toggle::after {
  display: none;
}
.header .navbar .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle svg {
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}
.header
  .navbar
  .navbar-nav
  .nav-item.dropdown
  .nav-link.dropdown-toggle.show
  svg {
  transform: rotate(-180deg);
}
.header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  left: 0;
  top: 0;
  z-index: -1;
  border: none;
  max-width: 100%;
  border-radius: 0;
  background: #dbb962;
  padding: 150px 20px 150px;
}
.header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .mega-menu-img {
  width: 470px;
  height: 280px;
  object-fit: cover;
}
.header
  .navbar
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu
  .mega-menu-listing-wrapper {
  gap: 50px;
  display: flex;
}
.header
  .navbar
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu
  .mega-menu-listing-wrapper
  .mega-menu-listing {
  min-width: 200px;
}
.header
  .navbar
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu
  .mega-menu-listing-wrapper
  .mega-menu-listing
  .list-itens {
  gap: 10px;
  display: flex;
  margin-bottom: 35px;
  flex-direction: column;
}
.header
  .navbar
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu
  .mega-menu-listing-wrapper
  .mega-menu-listing
  .list-itens
  * {
  margin: 0;
}
.header
  .navbar
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu
  .mega-menu-listing-wrapper
  .mega-menu-listing
  .list-itens
  h4 {
  font-family: "Neue Plak SemiBold";
}
.header .navbar .navbar-nav .nav-link {
  padding: 0;
  font-size: 20px;
  line-height: 65px;
  color: var(--primary);
  transition: all 0.3s ease-in-out;
  font-family: "Neue Plak SemiBold";
}
.header .navbar .navbar-nav .nav-link.active {
  color: var(--primary-extraDark);
}
.header .btn {
  font-size: 18px;
  min-width: 160px;
  line-height: 50px;
  background: #ca674c;
  transition: all 0.3s ease-in-out;
  font-family: "Neue Plak SemiBold";
}
.header.show-mega-menu .navbar .navbar-brand .white-logo {
  display: block;
}
.header.show-mega-menu .navbar .navbar-nav .nav-link {
  color: var(--white);
}
.header.show-mega-menu
  .navbar
  .navbar-nav
  .nav-item.dropdown
  .nav-link.dropdown-toggle
  svg
  path {
  fill: var(--white);
}
.header.show-mega-menu .btn {
  color: #ca674c;
  background: var(--white);
}
.hero {
  overflow: hidden;
}
.hero .hero-wrapper {
  margin: auto;
  max-width: 760px;
}
.hero .hero-wrapper .page-title {
  font-size: 90px;
  line-height: 98px;
}
.hero .hero-wrapper .hero-content {
  padding: 58px 0 0 75px;
}
.hero .hero-wrapper .hero-content p {
  font-size: 42px;
  line-height: 50px;
}
.hero .hero-wrapper .hero-content .btn {
  min-width: 350px;
  margin-top: 50px;
  line-height: 84px;
  background: var(--primary-light);
}
.hero .hero-img {
  gap: 33px;
  display: flex;
  margin-left: 20px;
}
.hero .hero-img .img-item {
  width: 570px;
  height: 773px;
  flex-shrink: 0;
}
.hero-img .img-item img {
  width: 100%;
  height: 100%;
  border-radius: 285px;
}
.coaching {
  padding-block: 150px;
}
.coaching .page-title {
  margin-left: -200px;
}
.coaching .page-title span {
  display: block;
  padding-left: 400px;
}
.coaching .coaching-grid {
  max-width: 1720px;
  margin: 100px auto 0;
}
.coaching .coaching-grid h5 {
  margin: 40px 0 15px;
  font-family: "Neue Plak SemiBold";
}
.coaching .coaching-grid h3 {
  margin: 0;
  font-size: 35px;
  line-height: 45px;
  color: var(--primary);
  font-family: "Neue Plak SemiBold";
}
.coaching .coaching-grid h3:hover {
  color: #d47c38;
}
.coaching .coaching-grid .btn {
  min-width: 250px;
  margin-top: 35px;
  line-height: 70px;
  background: #dbb962;
}
.theme-tabs #tabcontainer {
  margin: 40px 0;
}
.theme-tabs #tabcontainer img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.theme-tabs .theme-navtabs {
  padding: 0;
  margin: 0 0 25px;
  list-style: none;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  box-shadow: inset 0 0 0 2px #e3c7a5;
}
.theme-tabs .theme-navtabs li a,
.theme-tabs .theme-navtabs .nav-link {
  cursor: pointer;
  padding: 0 10px;
  color: #e3c7a4;
  line-height: 32px;
  border-radius: 50px;
  display: inline-flex;
  text-transform: uppercase;
  border: 2px solid transparent;
  font-family: "Neue Plak SemiBold";
}
.theme-tabs .theme-navtabs li.active a,
.theme-tabs .theme-navtabs .nav-link.active {
  color: var(--primary);
  border: 2px solid var(--primary);
}
.theme-tabs .tabs h4 {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Neue Plak SemiBold";
}
.theme-tabs .tabs .btn {
  font-size: 18px;
  min-width: 130px;
  line-height: 50px;
  background: #dbb962;
}
.theme-tabs .tab-content .tab-title {
  margin: 0;
  gap: 15px;
  display: flex;
  font-size: 130px;
  color: #ca674c;
  line-height: 130px;
  justify-content: center;
  font-family: "Neue Plak SemiBold";
}
.theme-tabs .tab-content .tab-title span {
  font-size: 40px;
  color: #ba7d5d;
  line-height: 85px;
}
.theme-tabs .tab-content .tab-duration {
  margin: 30px 0;
  font-size: 24px;
  color: #ba7d5d;
  line-height: 65px;
}
.theme-tabs .tab-content .btn {
  width: 450px;
  line-height: 70px;
  background: #ca674c;
}
.wellness {
  padding: 140px 0 180px;
  background: #f8f7ef;
}
.wellness .container {
  max-width: 1100px;
}
.wellness .wellness-text {
  padding: 50px 0 0 75px;
}
.wellness .wellness-text p {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
}
.our-programs {
  background: #edbf4a;
  padding-block: 130px 160px;
}
.our-programs .programs-text .page-title {
  font-size: 90px;
}
.our-programs .programs-text p {
  font-size: 40px;
  color: #fff4d1;
  line-height: 60px;
}
.our-programs .program-swiper {
  margin: 130px -20px 90px;
}
.our-programs .program-swiper .swiper-slide {
  max-width: 1325px;
}
.our-programs .program-swiper .swiper-slide img {
  width: 85%;
  max-height: 680px;
  object-fit: cover;
}
.our-programs .program-swiper .swiper-arrows::after {
  display: none;
}
.our-programs .swiper-arrows-wrapper {
  top: 50%;
  left: 50%;
  margin: auto;
  width: 1240px;
  display: flex;
  position: absolute;
  margin-left: -620px;
  justify-content: space-between;
}
.our-programs .swiper-arrows-wrapper .swiper-arrows {
  position: inherit;
}
.our-programs .program-swiper .swiper-button-prev {
  left: 0;
}
.our-programs .program-swiper .swiper-button-next {
  right: 0;
}
.our-programs .our-programs-obstacle {
  margin: auto;
  max-width: 830px;
}
.our-programs .our-programs-obstacle .page-title {
  font-size: 60px;
}
.our-programs .our-programs-obstacle p {
  font-size: 30px;
  line-height: 40px;
}
.our-programs .our-programs-obstacle .btn {
  min-width: 235px;
  margin-top: 45px;
  line-height: 80px;
  background: var(--white);
  color: #dbb962 !important;
}
.champion {
  padding-block: 140px 325px;
}
.champion .champion-text {
  margin: auto;
  max-width: 800px;
}
.champion .champion-text .page-title {
  margin-bottom: 55px;
}
.champion .champion-text p {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
}
.champion .champion-gallery {
  gap: 69px;
  display: flex;
  margin-top: 150px;
  justify-content: center;
}
.champion .champion-gallery .gallery-item {
  width: 268px;
  height: 548px;
  overflow: hidden;
  border-radius: 15px;
}
.champion .champion-gallery .gallery-item:nth-child(even) {
  margin-top: 262px;
}
.champion .champion-gallery .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our-clients {
  background: #f8f7ef;
  padding-block: 90px 135px;
}
.our-clients .page-title {
  margin: auto;
  max-width: 700px;
}
.members-swiper-wrapper {
  margin: auto;
  margin-top: 70px;
  max-width: 1370px;
}
.our-clients .members-swiper {
  max-height: 740px;
}
.our-clients .members-swiper .swiper-slide {
  display: flex;
  align-items: center;
  margin: auto 0 !important;
}
.our-clients .members-swiper .swiper-slide .client-text {
  max-width: 465px;
  padding-left: 90px;
}
.our-clients .members-swiper .swiper-slide .client-text h5 {
  font-size: 22px;
  line-height: 65px;
  font-family: "Neue Plak SemiBold";
}
.our-clients .members-swiper .swiper-slide .client-text p {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
}
.our-clients .client-video {
  width: 575px;
  height: 735px;
}
.our-clients .client-video iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 281px;
}
.our-clients .members-swiper .swiper-pagination {
  left: 0;
  right: auto;
  margin-top: -40px;
}
.our-clients .members-swiper .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 16px;
  height: 16px;
  margin: 30px 0;
  background: transparent;
  border: 2px solid var(--primary);
}
.our-clients
  .members-swiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--primary);
}
.cta-programs {
  padding: 140px 0;
  text-align: center;
}
.cta-programs .cta-programs-text {
  margin: auto;
  max-width: 990px;
}
.cta-programs .cta-programs-text .page-title {
  line-height: 100px;
}
.cta-programs .cta-programs-text .cta-desc {
  font-size: 30px;
  line-height: 38px;
  margin: 30px 10px 0;
}
.cta-programs .cta-programs-text .btn {
  min-width: 370px;
  margin-top: 70px;
  line-height: 90px;
  background: var(--primary-light);
}
.newsletter {
  padding-block: 120px 135px;
  background: var(--primary-light);
}
.newsletter .container {
  max-width: 1525px;
}
.newsletter .newsletter-text {
  max-width: 390px;
  color: var(--white);
}
.newsletter .newsletter-text .page-title {
  margin-bottom: 30px;
}
.newsletter .newsletter-text p {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
}
.newsletter .newsletter-form {
  margin-top: 145px;
}
.newsletter .newsletter-form .form-wrapper {
  margin-bottom: 15px;
}
.newsletter .newsletter-form .form-wrapper .form-control {
  height: 80px;
  border: none;
  font-size: 24px;
  padding: 0 57px;
  color: #d4b9a4;
  border-radius: 50px;
}
.newsletter .newsletter-form .form-wrapper .form-control:focus {
  box-shadow: none;
}
.newsletter .newsletter-form .form-wrapper .form-control::placeholder {
  color: #d4b9a4;
}
.newsletter-form .btn {
  display: flex;
  margin-top: 38px;
  min-width: 224px;
  line-height: 62px;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  color: #bf8020 !important;
  background: #f7e488 !important;
}
.footer {
  padding: 90px 0;
}
.footer .container {
  max-width: 1720px;
}
.footer .footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.44;
}
.footer .footer-links li a {
  font-size: 24px;
  color: var(--primary);
  text-decoration: none;
  font-family: "Neue Plak SemiBold";
}
.footer .footer-links.social li a {
  color: #b16e1d;
}
.footer .footer-links li a:hover {
  color: var(--primary-extraDark);
}
.footer .copyright {
  margin-top: 60px;
}
.footer .copyright .footer-logo {
  display: flex;
  align-items: flex-end;
}
.footer .copyright .copyright-text {
  max-width: 465px;
  margin-left: auto;
}
.footer .copyright .copyright-text p {
  font-size: 18px;
  line-height: 22px;
  color: var(--light);
  margin-bottom: 23px;
}
.guide .guide-form-wrapper {
  max-width: 770px;
}
.guide .guide-form-wrapper .page-title {
  margin-bottom: 50px;
}
.theme-form .form-wrapper {
  margin-bottom: 25px;
}
.theme-form .form-wrapper label {
  font-size: 26px;
  line-height: 55px;
  font-family: "Neue Plak SemiBold";
}
.theme-form .form-wrapper .form-control {
  height: 68px;
  padding: 0 22px;
  font-size: 22px;
  border-radius: 0;
  color: var(--primary);
  border: 1px solid var(--primary);
  background: var(--white) !important;
}
.theme-form .form-wrapper select.form-control {
  border: none;
  border-right: 22px solid var(--white);
  outline: 1px solid var(--primary);
  background: var(--white) url(assets/img/arrow-icon.png) no-repeat center right !important;
}
.theme-form .form-wrapper textarea.form-control {
  resize: none;
  height: 285px;
  padding-block: 20px;
}
.theme-form .form-wrapper .form-control::placeholder {
  color: var(--primary);
}
.theme-form .form-wrapper .form-control:focus {
  box-shadow: none;
}
.theme-form .btn {
  height: 58px;
  min-width: 321px;
  margin-top: 55px;
  background: var(--primary) !important;
}
.faqs,
.contact-us,
.guide {
  padding: 60px 0 150px;
}
.faqs .container {
  max-width: 1600px;
}
.faqs .container .page-title {
  margin-bottom: 100px;
}
.faqs .accordion .accordion-item {
  border: none;
  border-radius: 0;
  border-top: 1px solid var(--primary);
}
.faqs .accordion .accordion-item .accordion-header .accordion-button {
  padding: 24px 0;
  font-size: 40px;
  box-shadow: none;
  color: var(--primary);
  font-family: "Neue Plak SemiBold";
  background: transparent !important;
}
.faqs .accordion .accordion-item .accordion-header .accordion-button::after {
  background-image: url(assets/img/arrow-icon.png);
}
.faqs .accordion .accordion-item .accordion-body {
  max-width: 1180px;
  color: var(--primary);
  padding: 40px 0 150px;
}
.faqs .accordion .accordion-item .accordion-body h1,
.faqs .accordion .accordion-item .accordion-body h2,
.faqs .accordion .accordion-item .accordion-body h3,
.faqs .accordion .accordion-item .accordion-body h5,
.faqs .accordion .accordion-item .accordion-body h5,
.faqs .accordion .accordion-item .accordion-body h6 {
  font-size: 45px;
}
.faqs .accordion .accordion-item .accordion-body p,
.faqs .accordion .accordion-item .accordion-body ul {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 30px;
}
.faqs .accordion .accordion-item .accordion-body .btn {
  min-width: 370px;
  line-height: 90px;
}
.client-says {
  padding: 135px 0;
  background: #ecd5bf;
}
.client-says .page-title {
  margin: auto;
  max-width: 740px;
  color: #c08769;
  text-align: center;
}
.contact-us .guide-form-wrapper {
  margin: auto;
  max-width: 840px;
}
.contact-us .guide-form-wrapper .page-title {
  margin-bottom: 50px;
}
.contact-us .guide-form-wrapper p {
  font-size: 30px;
  line-height: 46px;
  margin-bottom: 90px;
}
.contact-us .guide-form-wrapper .theme-form {
  padding: 0 50px;
}
.lets-chat {
  background: #dbb962;
  padding: 150px 0 200px;
}
.lets-chat .lets-chat-inner {
  margin: auto;
  display: flex;
  color: #f7f6f2;
  max-width: 1520px;
  align-items: center;
  justify-content: space-between;
}
.lets-chat .lets-chat-inner h2 {
  font-size: 115px;
}
.lets-chat .lets-chat-inner p {
  margin: 0;
  font-size: 30px;
  max-width: 600px;
  line-height: 36px;
}
.lets-chat .lets-chat-inner .btn {
  font-size: 25px;
  color: #f7f6f2;
  min-width: 205px;
  line-height: 65px;
  border: 2px solid #f7f6f2;
  background: transparent !important;
}
.story-hero.hero {
  padding: 60px 0 115px;
}
.story-hero.hero .hero-wrapper .hero-content p {
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 30px;
}
.story-hero.hero .hero-wrapper .hero-content {
  max-width: 700px;
  padding: 100px 0 0 75px;
}
.story-hero.hero .story-img {
  height: 757px;
  margin-top: 50px;
  object-fit: cover;
  object-position: left;
}
.support-story.coaching {
  padding: 250px 0;
  background: #f8f7ef;
}
.support-story.coaching .page-title {
  margin-left: -125px;
}
.support-story.coaching .page-title span {
  padding-left: 250px;
}
.mission {
  padding: 90px 0 150px;
}
.mission .container {
  margin: auto;
  max-width: 1725px;
}
.mission .mission-wrapper {
  max-width: 1160px;
  margin: 110px auto 0;
}
.mission .mission-wrapper .page-title {
  margin-bottom: 50px;
}
.mission .mission-wrapper p {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 35px;
}
.mission-gallery .gallery-item {
  height: 800px;
}
.mission-gallery {
  gap: 2%;
  display: flex;
}
.mission-gallery .gallery-item.left {
  width: 36%;
  flex-shrink: 0;
}
.mission-gallery .gallery-item.right {
  width: 62%;
}
.mission-gallery .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mission .mission-swiper {
  margin-top: 150px;
  padding-bottom: 100px;
}
.mission .mission-swiper .swiper-slide img {
  width: 855px;
  height: 835px;
  object-fit: cover;
}
.mission .mission-swiper .swiper-arrows-wrapper .swiper-arrows::after {
  display: none;
}
.mission .mission-swiper .swiper-arrows-wrapper {
  left: 50%;
  bottom: 15px;
  position: absolute;
  width: calc(100% - 100px);
  margin-left: calc(-50% + 50px);
}
.join-team {
  color: #f7f6f2;
  background: #dbb962;
  padding: 100px 0 200px;
}
.join-team .container {
  max-width: 1550px;
}
.join-team .join-team-wrapper {
  max-width: 700px;
  margin-top: 210px;
}
.join-team .join-team-wrapper h3 {
  font-size: 50px;
  margin-bottom: 50px;
}
.join-team .join-team-wrapper .join-team-content {
  padding-left: 70px;
}
.join-team .join-team-wrapper .join-team-content p {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 30px;
}
.join-team .join-team-wrapper .join-team-content .btn {
  min-width: 250px;
  margin-top: 40px;
  line-height: 60px;
  border: 2px solid #f7f6f2;
  color: #f7f6f2 !important;
  background: transparent !important;
}
.hero.retreat-hero .hero-content {
  max-width: 600px;
}
.hero.retreat-hero .hero-content p {
  font-size: 34px;
  line-height: 44px;
}
.retreat-tagline .tagline {
  font-size: 45px;
  max-width: 1332px;
  line-height: 60px;
  margin: 140px auto;
}
.upcoming-retreat .upcoming-retreat-wrapper {
  padding: 60px 110px;
  background: #f8f7ef;
}
.upcoming-retreat-wrapper .retreat-notify-text {
  font-size: 25px;
  line-height: 45px;
  text-transform: uppercase;
  font-family: "Neue Plak SemiBold";
}
.upcoming-retreat-wrapper .retreat-date {
  font-size: 28px;
  line-height: 34px;
}
.upcoming-retreat-wrapper .retreat-title {
  font-size: 70px;
  line-height: 75px;
  margin-bottom: 30px;
}
.upcoming-retreat-wrapper .btn {
  font-size: 25px;
  margin-top: 50px;
  line-height: 65px;
  min-width: 205px;
  border: 2px solid #ba7d5d;
  color: var(--primary) !important;
  background: transparent !important;
}
.upcoming-table {
  width: 620px;
  border: 1px solid var(--primary);
}
.upcoming-table thead tr th {
  padding: 7px;
  font-size: 90px;
  font-weight: 600;
  text-align: center;
  border-right: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}
.upcoming-table tbody tr td {
  padding: 7px;
  font-size: 40px;
  line-height: 65px;
  text-align: center;
}
.retreat-grid {
  padding: 150px 0 180px;
}
.retreat-grid .container {
  padding-inline: 120px;
}
.retreat-grid .retreat-grid-content {
  max-width: 550px;
  padding-left: 40px;
}
.retreat-grid .retreat-grid-content h3 {
  font-size: 85px;
  line-height: 100px;
  margin-bottom: 30px;
}
.retreat-grid .retreat-grid-content p {
  margin: 0;
  font-size: 28px;
  line-height: 38px;
  padding-left: 40px;
}
.retreat-grid .row:nth-child(odd) .retreat-grid-img {
  display: flex;
  justify-content: flex-end;
}
.retreat-grid .retreat-grid-img img {
  height: 650px;
  object-fit: cover;
}
.retreat-grid .row:nth-child(1) .retreat-grid-img img {
  margin-top: 50px;
}
.retreat-grid .row:nth-child(2) {
  align-items: flex-end;
  margin-bottom: 400px;
}
.retreat-grid .row:nth-child(2) .retreat-grid-img img {
  margin-top: -50px;
}
.retreat-grid .row:nth-child(2) .content-col {
  display: flex;
  margin-bottom: -90px;
  justify-content: center;
}
.retreat-grid .row:nth-child(3) {
  margin-bottom: 70px;
}
.retreat-grid .row:nth-child(3) .retreat-grid-content {
  margin-top: 55px;
}
.retreat-grid .row:nth-child(4) {
  align-items: flex-end;
  margin-bottom: 200px;
}
.retreat-grid .row:nth-child(4) .content-col {
  display: flex;
  margin-bottom: 70px;
  justify-content: center;
}
.retreat-grid .row:nth-child(5) {
  margin-bottom: 85px;
}
.retreat-grid .row:nth-child(5) .retreat-grid-content {
  margin-top: 85px;
}
.retreat-grid .row:nth-child(6) {
  align-items: center;
}
.retreat-grid .row:nth-child(6) .content-col {
  display: flex;
  justify-content: center;
}
.retreat-quote {
  padding: 270px 0;
  background: #f7d085;
}
.retreat-quote .container {
  max-width: 1380px;
}
.retreat-quote .quote-title {
  font-size: 75px;
  line-height: 90px;
  text-align: center;
  color: var(--white);
}
.retreat-inforgraphic {
  margin-top: 190px;
}
.retreat-inforgraphic .container {
  max-width: 1250px;
}
.retreat-detail {
  max-width: 1460px;
  text-align: center;
  margin: 80px auto 0;
}
.retreat-detail .page-title {
  font-size: 95px;
  line-height: 100px;
}
.retreat-detail .create-date {
  font-size: 75px;
  line-height: 115px;
}
.retreat-detail .retreat-detail-gallery {
  gap: 40px;
  display: flex;
  margin-top: 50px;
}
.retreat-detail .retreat-detail-gallery img:nth-child(1) {
  height: 700px;
}
.retreat-detail .retreat-detail-gallery img {
  width: 50%;
  object-fit: cover;
}
.retreat-detail .retreat-detail-gallery img:nth-child(2) {
  height: 800px;
  margin-top: 60px;
}
.retreat-detail .upcoming-table {
  margin: auto;
  width: 830px;
  border: none;
}
.retreat-detail .upcoming-table thead tr th {
  border: none;
}
.retreat-detail .upcoming-table tbody tr td {
  padding: 0;
  line-height: 20px;
}
.retreat-detail .btn {
  min-width: 290px;
  margin-top: 80px;
  line-height: 90px;
  background: #dbb962;
}
.hero.retreat-detail-hero {
  margin-top: 150px;
}
.hero.retreat-detail-hero .page-title {
  font-size: 65px;
  max-width: 600px;
  line-height: 75px;
}
.hero.retreat-detail-hero .hero-content p {
  font-size: 28px;
  line-height: 38px;
}
.champion.retreat-champion {
  padding-bottom: 250px;
}
.champion.retreat-champion .champion-gallery {
  margin-top: -50px;
}
.retreat-includes .container {
  padding: 0 95px;
}
.retreat-includes .retreat-includes-wrapper {
  background: #f8f7ef;
  padding: 70px 140px 140px;
}
.retreat-includes .retreat-includes-wrapper .page-title {
  text-align: center;
  margin-bottom: 90px;
}
.retreat-includes .retreat-includes-wrapper .includes-listing {
  margin: 0;
  padding: 0;
  font-size: 40px;
  list-style: none;
  line-height: 60px;
}
.retreat-includes .retreat-includes-wrapper .includes-listing.right {
  padding-left: 100px;
}
.retreat-includes .retreat-includes-wrapper .includes-listing li + li {
  margin-top: 30px;
}
.retreat-hover-img .hoverable-list {
  padding: 0;
  list-style: none;
  max-width: 760px;
  margin: 170px auto 0;
}
.retreat-hover-img .hoverable-list li {
  opacity: 0.5;
  cursor: pointer;
  font-size: 60px;
  color: #BA7D5D;
  line-height: 95px;
  font-family: "Neue Plak SemiBold";
}
.retreat-hover-img .hoverable-list li.active {
  opacity: 1;
}
.retreat-hover-img .program-kinds-preview {
  width: 760px;
  height: 900px;
  object-fit: cover;
  margin: -20px 100px 0 0;
}
.packages {
  margin-top: 100px;
  padding: 100px 0 150px;
  background: #f7d085;
}
.packages .container {
  max-width: 1480px;
}
.packages h3 {
  font-size: 60px;
  margin: 100px 0 50px;
}
.packages .package-detail h5 {
  font-size: 35px;
  line-height: 50px;
}
.packages .package-detail + .package-detail {
  margin-top: 90px;
}
.packages .package-detail .btn {
  font-size: 20px;
  min-width: 230px;
  margin-top: 30px;
  line-height: 65px;
  border: 2px solid var(--primary);
  color: var(--primary) !important;
  background: transparent !important;
}
.hero.event-hero {
  margin-top: 70px;
}
.hero.event-hero .hero-wrapper .page-title {
  font-size: 90px;
  max-width: 500px;
  line-height: 115px;
}
.hero.event-hero .hero-wrapper .hero-content p {
  font-size: 34px;
  line-height: 45px;
}
.hero.event-hero .hero-wrapper .hero-content {
  padding-inline: 0 220px;
}
.hero.event-hero .hero-wrapper .hero-content .btn {
  min-width: 250px;
  line-height: 70px;
}
.hero.event-hero .hero-img {
  margin-left: 0;
  margin-top: 50px;
}
.hero.event-hero .hero-img .img-item {
  width: 543px;
  height: 690px;
}
.hero.event-hero .hero-img .img-item:nth-child(2) {
  width: 525px;
  height: 665px;
  margin-top: 165px;
}
.event-gallery {
  margin: 100px 0 160px;
}
.event-gallery .container {
  max-width: 1430px;
}
.event-gallery .page-title {
  font-size: 65px;
  max-width: 660px;
  line-height: 80px;
}
.event-gallery .event-gallery-item {
  gap: 58px;
  display: flex;
}
.event-gallery .event-gallery-item img {
  object-fit: cover;
  border-radius: 13px;
}
.event-gallery .event-gallery-item:nth-of-type(1) {
  margin-block: -20px 70px;
  justify-content: flex-end;
}
.event-gallery .event-gallery-item:nth-of-type(1) img {
  width: 672px;
  height: 511px;
}
.event-gallery .event-gallery-item:nth-of-type(2) img:nth-child(1) {
  width: 372px;
  height: 623px;
  margin-top: -350px;
}
.event-gallery .event-gallery-item:nth-of-type(2) img:nth-child(2) {
  width: 584px;
  height: 409px;
}
.event-gallery .event-gallery-text {
  font-size: 28px;
  line-height: 38px;
  max-width: 835px;
  padding: 140px 0 0 100px;
}
.our-programs.community-event {
  background: #f7d085;
}
.our-programs.community-event .programs-text {
  margin: auto;
  max-width: 970px;
  color: var(--primary);
}
.our-programs.community-event .programs-text .page-title {
  font-size: 75px;
  margin-bottom: 50px;
}
.our-programs.community-event .programs-text p {
  font-size: 28px;
  color: var(--primary);
  line-height: 38px;
}
.our-programs.community-event .our-programs-obstacle .btn {
  min-width: 295px;
  border-radius: 50px;
  color: var(--primary) !important;
}
.hero.hero-home-program {
  margin-top: 70px;
}
.hero.hero-home-program .hero-wrapper {
  margin-top: 90px;
}
.hero.hero-home-program .hero-wrapper .page-title {
  max-width: 600px;
}
.programs-listing .container {
  max-width: 1485px;
}
.programs-listing .row {
  align-items: center;
  margin-bottom: 200px;
}
.programs-listing .programs-listing-content {
  max-width: 630px;
}
.programs-listing .programs-listing-content h3 {
  font-size: 55px;
  line-height: 70px;
  margin-bottom: 30px;
}
.programs-listing .programs-listing-content p {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 30px;
}
.programs-listing .programs-listing-img {
  width: 562px;
  height: 688px;
  object-fit: cover;
}
.programs-thumb-slider {
  background: #dbb962;
}
.programs-thumb-slider .coaching, .home-program-swiper {
  padding: 100px 0;
}
.home-program-swiper .swiper-slide .home-program-img {
  width: 510px;
  height: 510px;
  object-fit: cover;
  margin-bottom: 40px;
}
.home-program-swiper .swiper-slide .home-program-content {
  font-size: 34px;
  line-height: 48px;
}
.home-program-swiper .swiper-arrows-wrapper {
  left: 50%;
  width: 300px;
  bottom: 15px;
  position: absolute;
  margin-left: -150px;
}
.home-program-swiper .swiper-arrows-wrapper .swiper-arrows:after {
  display: none;
}
.program-video {
  padding: 150px 0;
}
.program-video .page-title {
  max-width: 740px;
  margin: 0 auto 100px;
}
.program-video .video-wrapper {
  margin: auto;
  width: 1110px;
  height: 625px;
  overflow: hidden;
  border-radius: 20px;
}
.program-video .video-wrapper iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.program-cta {
  background: #dbb962;
  padding: 150px 0 180px;
}
.program-cta.bg-transparent .btn {
  color: var(--white) !important;
  background: var(--primary) !important;
}
.program-cta .container {
  max-width: 970px;
}
.program-cta p {
  font-size: 30px;
  line-height: 38px;
  margin: 30px 0 60px;
}
.program-cta .btn {
  min-width: 390px;
  line-height: 70px;
  color: var(--primary) !important;
  background: var(--white) !important;
}
.what-we-offer {
  padding: 140px 0;
  background: #f8f7ef;
}
.what-we-offer .headline {
  font-size: 55px;
  max-width: 600px;
  line-height: 65px;
}
.what-we-offer .offer-listing:first-child {
  border-top: 1px solid var(--primary);
}
.what-we-offer .offer-listing {
  gap: 45px;
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary);
}
.what-we-offer .offer-listing .offer-title {
  gap: 45px;
  display: flex;
  align-items: center;
}
.offer-listing .offer-title .tagline {
  margin: 0;
  font-size: 100px;
  font-family: "Neue Plak SemiBold";
}
.offer-listing .offer-title .count {
  width: 87px;
  height: 87px;
  display: flex;
  font-size: 65px;
  align-items: center;
  border-radius: 999px;
  color: var(--primary);
  justify-content: center;
  border: 1px solid var(--primary);
}
.offer-listing .what-we-offer-content {
  max-width: 500px;
}
.what-we-offer-content p {
  margin: 0;
  font-size: 30px;
  line-height: 38px;
}
.game-motive .container {
  max-width: 1600px;
}
.game-motive .coaching span:last-child {
  padding-left: 800px;
}
.game-motive .game-motive-inforgrphic {
  height: 620px;
  object-fit: cover;
}
.game-motive .game-motive-content {
  padding-left: 100px;
}
.game-motive .game-motive-content h3 {
  font-size: 60px;
  line-height: 75px;
}
.game-motive .game-motive-content p {
  font-size: 28px;
  line-height: 34px;
}
.team-work {
  padding: 130px 0;
  margin-top: 180px;
  background: #dbb962;
}
.team-work .team-slider {
  margin: 100px 0 70px;
}
.team-work .team-work-content {
  width: 920px;
  margin: auto;
  font-size: 34px;
  line-height: 48px;
}
.game-experience {
  padding: 150px 0;
}
.game-experience .page-title {
  max-width: 800px;
  text-align: center;
  margin: 0 auto 100px;
}
.game-experience .game-experience-infographic {
  height: 600px;
  object-fit: cover;
}
.game-experience .game-experience-content {
  padding-left: 100px;
}
.game-experience .game-experience-content p {
  font-size: 30px;
  line-height: 40px;
}
.diverse-programs {
  margin-top: 150px;
}
.diverse-programs .diverse-programs-inner {
  max-width: 630px;
}
.diverse-programs .diverse-programs-inner .heading {
  font-size: 75px;
  line-height: 95px;
}
.diverse-programs .diverse-programs-inner .content {
  font-size: 34px;
  line-height: 85px;
}
.diverse-programs .diverse-programs-thumbs {
  margin-top: 100px;
}
.diverse-programs .diverse-programs-thumbs .program-thumb {
  width: 100%;
  height: 285px;
  object-fit: cover;
}
.diverse-programs .diverse-programs-thumbs .program-title {
  margin: 20px 0;
  font-size: 42px;
  color: #dbb962;
  line-height: 65px;
  text-align: center;
  font-family: "Neue Plak SemiBold";
}
.best-program {
  padding: 200px 0;
}
.best-program .container {
  max-width: 1050px;
}
.best-program .page-title {
  padding-inline: 50px;
}
.best-program .faqs h4 {
  margin: 20px 0;
  font-size: 45px;
  line-height: 85px;
}
.program-kinds.yellow {
  background: #edbf4a;
}
.program-kinds.brown {
  background: #c5664c;
}
.program-kinds.white * {
  color: #f28269 !important;
}
.program-kinds.white .program-kinds-content .btn {
  color: var(--white) !important;
  background: #f28269 !important;
}
.program-kinds.dark-brown {
  background: #df483c;
}
.program-kinds {
  padding: 110px 0 160px;
}
.program-kinds .container {
  max-width: 1600px;
}
.program-kinds .page-title {
  color: var(--white);
  margin-bottom: 150px;
}
.program-kinds .program-kinds-preview {
  width: 485px;
  height: 840px;
  object-fit: cover;
}
.program-kinds .program-kinds-content {
  max-width: 830px;
  margin-top: 50px;
}
.program-kinds .program-kinds-content p {
  font-size: 34px;
  line-height: 50px;
  color: var(--white);
}
.program-kinds .program-kinds-content .hoverable-list {
  padding: 0;
  margin: 50px 0;
  font-size: 75px;
  list-style: none;
  line-height: 120px;
}
.program-kinds .program-kinds-content .hoverable-list li {
  opacity: 0.5;
  cursor: pointer;
  color: var(--white);
  font-family: "Neue Plak SemiBold";
}
.program-kinds .program-kinds-content .hoverable-list li.active {
  opacity: 1;
}
.program-kinds .program-kinds-content .btn {
  min-width: 370px;
  line-height: 80px;
  color: var(--primary) !important;
  background: var(--white) !important;
}
.hero.program-hero {
  background: #f8f7ef;
  padding: 110px 0 140px;
}
.hero.program-hero .container {
  max-width: 1670px;
}
.hero.program-hero .hero-wrapper .page-title {
  font-size: 75px;
  line-height: 85px;
}
.hero.program-hero .hero-wrapper .hero-content {
  padding-right: 150px;
}
.hero.program-hero .hero-wrapper .hero-content p {
  font-size: 30px;
  line-height: 40px;
}
.hero.program-hero .hero-wrapper .hero-content .btn {
  color: #cc914a !important;
  border: 2px solid #cc914a;
  background: transparent !important;
}
.hero.program-hero .program-img {
  width: 640px;
  height: 590px;
  object-fit: cover;
}
.hero.program-hero.bia-mama-hero .program-img {
  width: 556px;
  height: 734px;
  border-radius: 320px;
}
.cta-programs .cta-programs-text .page-title {
  font-size: 65px;
  line-height: 90px;
}
.cta-programs.warrior-cta .btn {
  min-width: 440px;
}
.book-consultation {
  background: #f8f7ef;
  padding: 150px 0 200px;
}
.book-consultation .page-title {
  font-size: 85px;
  color: #ca674c;
  line-height: 90px;
}
.book-consultation .book-text {
  font-size: 26px;
  color: #ca674c;
  margin: 30px 0 0;
  line-height: 65px;
}
.schedule {
  color: #fff;
  background: #c5664c;
  padding: 110px 0 120px;
}
.schedule .page-title {
  font-size: 85px;
  line-height: 90px;
}
.schedule .timings-outer {
  max-width: 550px;
}
.schedule .timings-outer .timings h3 {
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 40px;
}
.schedule .timings-outer .schedule-text {
  font-size: 26px;
  line-height: 35px;
}
.schedule .schedule-listing {
  padding: 0;
  font-size: 45px;
  list-style: none;
  margin: 150px 0 0;
  line-height: 80px;
}
.schedule .btn {
  margin-top: 50px;
  min-width: 330px;
  line-height: 70px;
  color: #deb5a0 !important;
  background: var(--white) !important;
}
.seasoned-athlete .page-title,
.coaching.real-change .page-title {
  font-size: 65px;
  margin-bottom: 150px;
}
.seasoned-athlete .page-title span:nth-of-type(2) {
  padding-left: 800px;
}
.seasoned-athlete .seasoned-athlete-img {
  width: 730px;
  height: 558px;
  object-fit: cover;
}
.seasoned-athlete .seasoned-athlete-text {
  margin: 0;
  font-size: 36px;
  max-width: 650px;
  line-height: 48px;
  padding-left: 100px;
}
.seasoned-athlete.prefered-program .program-content-wrapper {
  max-width: 640px;
}
.seasoned-athlete.prefered-program h3 {
  font-size: 55px;
  line-height: 70px;
  margin-bottom: 30px;
}
.seasoned-athlete.prefered-program p {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 30px;
}
.seasoned-athlete.prefered-program .btn {
  min-width: 400px;
  margin-top: 30px;
  line-height: 70px;
  background: #cc914a;
}
.program-listing {
  padding: 150px 0;
}
.program-listing .container {
  max-width: 1570px;
}
.program-listing .program-listing-text {
  max-width: 400px;
  margin-bottom: 60px;
}
.program-listing .program-listing-text h3 {
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 20px;
  font-family: "Neue Plak SemiBold";
}
.program-listing .program-listing-text p {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}
.hero.hero-program .hero-wrapper {
  margin-top: 85px;
}
.hero.hero-program .hero-wrapper .hero-content {
  padding-right: 80px;
}
.hero.hero-program .hero-program-img {
  width: 808px;
  height: 757px;
  object-fit: cover;
}
.coaching.real-change .container {
  max-width: 1650px;
}
.coaching.real-change .our-clients {
  padding: 0;
  background: transparent;
}
.coaching.real-change
  .our-clients
  .members-swiper
  .swiper-slide
  .client-text
  h5 {
  margin: 0;
  line-height: 45px;
}
.coaching.real-change
  .our-clients
  .members-swiper
  .swiper-slide
  .client-text
  h2 {
  font-size: 55px;
  line-height: 60px;
  margin-bottom: 30px;
}
.coaching.real-change
  .our-clients
  .members-swiper
  .swiper-slide
  .client-text
  p {
  margin: 0;
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 20px;
}
.coaching.real-change .our-clients .members-swiper {
  max-height: 700px;
}
.coaching.real-change .our-clients .members-swiper-wrapper {
  margin: auto;
  max-width: 1370px;
}
.coaching.real-change .our-clients .members-swiper .swiper-slide .client-text {
  padding: 0;
  max-width: 580px;
}
.coaching.real-change .our-clients .members-swiper .swiper-pagination {
  right: 0;
  left: auto;
}
.coaching.real-change .our-clients .real-change-img {
  width: 700px;
  height: 700px;
  object-fit: cover;
}
.desire-results {
  padding: 110px 60px;
  background: #f7e488;
}
.desire-results .desire-results-inner {
  color: var(--white);
  padding: 90px 110px;
  background: #dbb962;
}
.desire-results .desire-results-inner .desire-results-img {
  width: 100%;
  height: 605px;
  overflow: hidden;
}
.desire-results .desire-results-inner .title-end {
  max-width: 260px;
  margin-bottom: -130px;
}
.desire-results .desire-results-inner .btn {
  min-width: 370px;
  line-height: 80px;
  margin-top: 110px;
  border: 1px solid var(--white);
  color: var(--white) !important;
  background: transparent !important;
}
.resources {
  background: #f8f7ef;
  padding: 120px 0 190px;
}
.resources .container {
  max-width: 1300px;
}
.resources h5 {
  font-size: 26px;
  color: #ba7d5d;
  line-height: 65px;
}
.resource-program {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resource-program + .resource-program {
  margin-top: 100px;
}
.resource-program h3 {
  font-size: 85px;
  color: #ca674c;
  max-width: 675px;
  line-height: 90px;
  font-family: "Neue Plak SemiBold";
}
.resource-program .btn {
  width: 325px;
  line-height: 70px;
  color: #ba7d5d !important;
  border: 2px solid #ba7d5d;
  background: transparent !important;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1920px;
  }
  .what-we-offer .container,
  .game-experience .container,
  .book-consultation .container,
  .schedule .container,
  .coaching.seasoned-athlete .container {
    padding-inline: 140px;
  }
  .container,
  .container-fluid {
    padding-inline: 60px;
  }
  .upcoming-retreat .container,
  .diverse-programs .container {
    padding-inline: 100px;
  }
}
@media (min-width: 1199px) and (max-width: 1699.98px) {
  .hero .hero-wrapper .page-title {
    font-size: 68px;
    line-height: 60px;
  }
  .hero .hero-wrapper {
    max-width: 700px;
  }
  .hero .hero-wrapper .hero-content p {
    font-size: 36px;
  }
  .hero .hero-img {
    margin-left: 100px;
  }
  .hero .hero-img .img-item {
    width: 370px;
    height: 573px;
  }
}
@media (max-width: 1399.98px) {
  .hero .hero-wrapper {
    max-width: 600px;
  }
  .hero .hero-wrapper .page-title {
    font-size: 60px;
    line-height: 68px !important;
  }
  .hero .hero-wrapper .hero-content {
    padding: 40px 0 0 55px;
  }
  .hero .hero-wrapper .hero-content p {
    font-size: 32px;
    line-height: 40px;
  }
  .hero .hero-img .img-item {
    width: 370px;
    height: 573px;
  }
  .champion .champion-gallery {
    gap: 40px;
  }
  .coaching .coaching-grid h3 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media (max-width: 1199.98px) {
  .header .navbar {
    padding: 15px 20px 15px 10px;
  }
  .header .navbar .navbar-toggler {
    padding: 0;
    border: none;
  }
  .header .navbar .navbar-toggler:focus {
    box-shadow: none;
  }
  .header .navbar .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .our-clients .members-swiper {
    max-height: 600px;
  }
  .our-clients .client-video {
    width: 445px;
    height: 600px;
  }
  .our-programs .program-swiper .swiper-slide {
    max-width: 500px;
  }
  .our-programs .program-swiper {
    margin: 40px -20px 30px;
  }
  .our-programs .swiper-arrows-wrapper {
    width: 560px;
    margin-left: -280px;
  }
  .our-clients {
    padding-block: 60px 90px;
  }
}
@media (max-width: 991.98px) {
  .page-title,
  .our-programs .programs-text .page-title,
  .our-programs .our-programs-obstacle .page-title {
    font-size: 45px;
    line-height: 50px !important;
  }
  .hero .hero-wrapper .page-title {
    font-size: 45px;
    line-height: 50px !important;
  }
  .hero .hero-wrapper {
    padding: 60px;
  }
  .hero .hero-img {
    justify-content: flex-end;
  }
  .hero .hero-img .img-item {
    width: 300px;
    height: 473px;
  }
  .coaching .page-title {
    margin-left: -100px;
  }
  .coaching .page-title span {
    padding-left: 200px;
  }
  .coaching .coaching-grid {
    margin: 60px auto 0;
  }
  .coaching .coaching-grid h5 {
    margin: 30px 0 10px;
  }
  .coaching .coaching-grid h3 {
    font-size: 18px;
    line-height: 25px;
  }
  .wellness {
    padding: 60px 40px;
  }
  .wellness .wellness-text {
    padding: 30px 0 0 30px;
  }
  .our-programs,
  .coaching {
    padding-block: 70px;
  }
  .our-programs .our-programs-obstacle .btn {
    line-height: 62px;
  }
  .champion {
    padding-block: 60px;
  }
  .champion .container {
    max-width: 100%;
  }
  .champion .champion-text {
    padding-inline: 50px;
  }
  .champion .champion-text .page-title {
    margin-bottom: 30px;
  }
  .champion .champion-text p,
  .our-programs .programs-text p,
  .our-programs .our-programs-obstacle p,
  .wellness .wellness-text p,
  .hero .hero-wrapper .hero-content p {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
  }
  .wellness .wellness-text p {
    margin-bottom: 20px;
  }
  .champion .champion-gallery {
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: flex-start;
  }
  .champion .champion-gallery .gallery-item {
    height: 335px;
    width: calc(33.333% - 27px);
  }
  .champion .champion-gallery .gallery-item:nth-child(odd) {
    margin-top: 160px;
  }
  .champion .champion-gallery .gallery-item:nth-child(even) {
    margin-top: 0;
  }
  .champion .champion-gallery .gallery-item:nth-child(4) {
    margin-top: 20px;
  }
  .champion .champion-gallery .gallery-item:nth-child(5) {
    margin-top: -160px;
  }
  .hero .hero-wrapper .hero-content {
    padding: 20px 0 0 45px;
  }
  .our-programs .program-swiper .swiper-slide {
    max-width: 500px;
  }
  .our-programs .program-swiper {
    margin: 40px -20px 30px;
  }
  .our-programs .swiper-arrows-wrapper {
    width: 560px;
    margin-left: -280px;
  }
  .our-clients {
    padding-block: 60px 90px;
  }
  .members-swiper-wrapper .row {
    flex-direction: column-reverse;
  }
  .our-clients .members-swiper .swiper-slide .client-text {
    max-width: 100%;
    padding: 60px 60px 130px;
  }
  .our-clients .members-swiper .swiper-pagination .swiper-pagination-bullet {
    margin: 30px 15px 0;
  }
  .cta-programs .cta-programs-text .btn,
  .hero .hero-wrapper .hero-content .btn {
    line-height: 62px;
    margin-top: 50px;
  }
  .hero .hero-wrapper .hero-content .btn {
    margin-top: 25px;
  }
  .newsletter,
  .cta-programs {
    padding: 60px 50px;
  }
  .newsletter .newsletter-text {
    max-width: 100%;
  }
  .newsletter .newsletter-text .page-title {
    margin-bottom: 10px;
  }
  .newsletter .newsletter-form {
    margin-top: 50px;
  }
  .newsletter .newsletter-form .form-wrapper .form-control {
    height: 60px;
    padding: 0 30px;
    border-radius: 50px;
  }
  .newsletter-form .btn {
    min-width: 100%;
  }
  .newsletter .newsletter-form .form-wrapper {
    margin-bottom: 10px;
  }
  .newsletter-form .btn {
    margin-top: 20px;
  }
}
@media (max-width: 767.98px) {
  .hero .hero-wrapper {
    padding-bottom: 30px;
  }
  .hero .hero-img {
    gap: 15px;
    margin-right: -40px;
  }
  .hero .hero-img .img-item {
    width: 193px;
    height: 261px;
  }
  .newsletter .newsletter-form {
    margin: 20px 0;
  }
  .our-programs .program-swiper .swiper-slide {
    max-width: 325px;
  }
  .our-programs .program-swiper {
    margin: 40px -20px 30px;
  }
  .our-programs .swiper-arrows-wrapper {
    width: 400px;
    margin-left: -200px;
  }
  .footer {
    padding: 40px;
  }
  .footer .footer-links {
    margin-bottom: 45px;
  }
  .footer .footer-links.social {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footer-links.social li {
    width: 50%;
  }
  .footer .footer-links.social li:nth-child(even) {
    padding-left: calc(1.5rem * 0.5);
  }
  .footer .copyright {
    margin-top: 10px;
    flex-direction: column-reverse;
  }
  .footer .copyright .footer-logo {
    margin-top: 60px;
  }
  .footer .copyright .footer-logo img {
    width: 170px;
  }
  .footer .copyright .copyright-text {
    max-width: 100%;
  }
}
@media (max-width: 575.98px) {
  .page-title {
    font-size: 26px;
    line-height: 32px !important;
  }
  .hero .hero-wrapper .page-title {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  .our-programs .programs-text .page-title {
    font-size: 30px;
  }
  .our-programs .our-programs-obstacle .page-title {
    font-size: 22px;
    line-height: 40px !important;
  }
  .our-programs .programs-text,
  .our-programs .our-programs-obstacle {
    padding-inline: 40px;
  }
  .champion {
    overflow: hidden;
  }
  .champion .champion-gallery {
    margin: 0 -12%;
    padding: 15% 0 10%;
  }
  .champion .champion-text p,
  .our-clients .members-swiper .swiper-slide .client-text p {
    font-size: 18px;
    line-height: 25px;
  }
  .members-swiper-wrapper {
    margin-top: 50px;
  }
  .our-clients .client-video {
    width: 265px;
    height: 350px;
  }
  .cta-programs .cta-programs-text .btn,
  .hero .hero-wrapper .hero-content .btn,
  .our-programs .our-programs-obstacle .btn {
    font-size: 18px;
    margin-top: 30px;
    min-width: 250px;
    line-height: 50px;
  }
  .our-programs .our-programs-obstacle .btn {
    min-width: 180px;
  }
  .newsletter .newsletter-form .form-wrapper .form-control {
    height: 50px;
    font-size: 18px;
  }
  .newsletter-form .btn {
    font-size: 18px;
    margin-top: 15px;
    line-height: 50px;
  }
  .footer .footer-links li a {
    font-size: 18px;
  }
  .footer .copyright .copyright-text p {
    font-size: 14px;
  }
}
